    
    <div id="def-top"></div>
    {{ `<!-- Write closure template -->` | safeHTML }}
    <script>
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.top({
            cdnEnv: cdnEnvVar,
            lngLinks: [{
                "lang": "TODO",
                "href": "TODO",
                {{if eq .Lang "fr"}}
                "text": "English"
                {{else}}
                "text": "Français"
                {{end}}
            }]
        });
    </script>
