{{/* 

    <!-- 
        
    This file is intentionally left blank and is here so that you can
    add your own references to the <head> portion of your project files. 

    To add additional references to the <head> portion of all of your html
    files: 

    1) Create a "layouts" folder in the root directory
    2) Create a "ctds" folder in the "layouts" directory
    3) Create a file called "head-overide.html" in the "cdts" folder
    4) Add your references to the newly created file 
    5) Rebuild your project 

    Note: These references will be added to all languages and html pages that are
    built

    -->

    */}} 